<template name="beatenModal">
  <div class="modal fade" id="beatenModal" tabindex="-1" role="dialog"
       aria-labelledby="beatenLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="itemInfoLabel">Computer Beat You!</h4>
        </div>
        <div class="modal-body">
          <p>You will not receive any points.</p>
        </div>
      </div>
    </div>
  </div>
</template>