<template name="welcome">
  <div class="jumbotron">
    <h1>Welcome</h1>

    <p>Thank you for participating in this study Please note that this experiment takes about 30 minutes, and by starting this game, you consent to take part in it.</p>
    <p>Each maze will worth 50 points. Here are the rules:</p>
    <p>1) You will have a limited time to finish each maze. </p>
    <p>2) Points will be reduced as time passes. </p>
    <p>3) You will have the option to wait for the solution of the maze, or go ahead and do it yourself</p>
    <p>4) If you decide not to wait for the solution, another player (the computer) will start competing with you. If it finishes the maze faster than you, no points will be earned. </p>
    <p>5) If you decide to wait, you will have the option to solve smaller mazes to earn more points. </p>
    <p>6) The person with most points earned will win. </p>
    <p> testing </p>
    <p>Log in to start</p>
  </div>
</template>