<template name="welcome">
  <div class="jumbotron">
    <h1>Welcome</h1>

    <p>Thank you for participating in this study Please note that this experiment takes about 30 minutes, and by starting
        this game, you consent to take part in it.</p>
    <p>1. You will have a limited time to finish each maze. </p>
    <p>2. Faster you finish, higher the points </p>
    <p>3. There are two modes to play:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Compete Mode: compete with the computer to complete (the computer is very smart!)
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Solo Mode: play without the computer chasing after you</p>
    <p>4. The person with most points earned will win. </p>
    <p>Sign up to start</p>
  </div>
</template> 